
<div class="panel panel-default">
    <h1 class="text-center">Graduate Hackathon</h1>
    <div class="panel panel-body">
       Welcome to the WebAPI / backend series of the Britehouse Graduate Hackathon.<br/>
        We trust that by this time, you should know a little bit more about us, the kind of work we do and most importantly you should have learned about many great stuff that an awesome developer should know throughout their careers.<br/>
        During this part of the exercise, we are going to help you briefly discover some of the best practices and disciplines typically used in an enterprise application, and this include but not limited to<br/>
    </div>
    <ul>
        <li>
            Providers and Orchestrations aka Business Logic
        </li>
        <li>
            Stubs aka Fakes
        </li>
        <li>
            Interface Seggration
        </li>
        <li>
            Unit tests
        </li>
    </ul>
    <div class="panel-footer">
        Let's see which others can you identifiy being applied here, or even better yet what could you have changed or added ? a signleton perhaps ? Dependency injection? we would be thrilled to have this followup discussion and QA session. Good luck!
    </div>
   
</div>

